/* plantlist.css */

/* Container for the plant items */
.plant-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Style for each plant item */
  .plant-item {
    width: calc(33.33% - 20px); /* Set width for 3 columns per row with 20px margin between items */
    margin: 20px; /* Set margin between plant items */
    padding: 20px;
    border: 1px solid #ccc; /* Optional: Add border for each item */
  }
  
  /* Style for plant item content */
  .plant-item-content {
    margin-bottom: 10px;
  }
  
  /* Style for plant item image */
  .plant-item-image {
    max-width: 100%; /* Ensure images do not exceed the container width */
  }

 
  .plant-item-button {
   width: 300px;
   font-size: medium;
  }


  .plant-list-container {
    background-color: #bdd5b9;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; /* Set height to 100% to cover the entire viewport */
    display: flex;
    flex-direction: column; /* Ensure flex container stacks children vertically */
  }


  /* added for testing */